@use "sass:color";

@each $color, $value in $colors {
    .text-#{$color} {
        color: $value;
    }

    .bg-#{$color} {
        background-color: $value;
    }

    @for $i from 1 to 9 {
        .bg-#{$color}-dark-#{$i} {
            background-color: color.scale($value, $lightness: -$i * -10%);
        }
        .text-#{$color}-dark-#{$i} {
            color: color.scale($value, $lightness: -$i * -10%);
        }
        .bg-#{$color}-light-#{$i} {
            background-color: color.scale($value, $lightness: -$i * 10%);
        }
        .text-#{$color}-light-#{$i} {
            color: color.scale($value, $lightness: -$i * 10%);
        }
    }
}